/* Nessun errore rilevato a Validator */

/*#region common utilities per il flex  */
/* Regola in comune per il flex */

#site_header,
#site_content,
#site_sidebar,
#site_main,
#site_footer {
  display: flex;
}

/* Display Flex - Common utility per colonne singole */
.d_flex {
  display: flex;
}

/* Display Float con suo clearfix */
.d_float {
  float: left;
  position: relative;
}

.abs {
  color: transparent;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/* Flex Directions - Row e Column */
.flex_row {
  flex-direction: row;
}
.flex_column {
  flex-direction: column;
}
.flex_wrap {
  flex-wrap: wrap;
}

/* Commons per il justify-content */
.justify_c {
  justify-content: center;
}
.justify_sb {
  justify-content: space-between;
}
.justify_se {
  justify-content: space-evenly;
}
.justify_sa {
  justify-content: space-around;
}
.justify_start {
  justify-content: flex-start;
}
.justify_end {
  justify-content: flex-end;
}

/* Common per l'align-items */
.align-c {
  align-items: center;
}

.align_start {
  align-content: flex-start;
}

.align_end {
  align-content: flex-end;
}

.align_around {
  align-content: space-around;
}

/* Commons per il gap tra celle */

.gap {
  gap: 0.45rem;
}

.gap_md {
  gap: 0.65rem;
}
/*#endregion  */

/*#region Margin e Padding  */
/* Common per i margini */
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.mr_15 {
  margin-right: 15px;
}

/* Common per i padding */
.pr_5 {
  padding-right: 5px;
}
.pr_10 {
  padding-right: 10px;
}
.pl_10 {
  padding-left: 10px;
}
.pl_15 {
  padding-left: 15px;
}
.pt_10 {
  padding-top: 10px;
}
.pt_15 {
  padding-top: 10px;
}
.pb_10 {
  padding-bottom: 10px;
}
/*#endregion */

/*#region Regole comuni varie del foglio di style.css */
/* Regole comuni per container */

.play,
.home,
.account {
  width: 100%;
}

.home a,
.play a,
.play h4 {
  padding: 0px 0px 0px 15px;
  text-transform: none;
}

.navbar li {
  display: inline;
  text-transform: uppercase;
  margin-right: 20px;
}

.track,
.status,
.enter {
  height: 100%;
}

.ancor_t {
  text-decoration: none;
  color: rgba(134, 134, 134, 1);
}

.fs_small {
  font-size: 0.85rem;
}

.light {
  color: rgb(255,255,255);
}

.w_90 {
  width: 90%;
}

.fs_lg {
  font-size: 1.25rem;
}

.fs_usmall {
  font-size: 0.75rem;
}

.album h4,
.album_sm h4,
.album_sm_circle h4 {
  color: white;
  font-weight: bold;
}

.album span {
  color: rgba(134, 134, 134, 1);
}

.litegray {
  color: rgba(134, 134, 134, 1);
}

.bold {
  font-weight: bold;
}

/*#endregion */

/*#region - Regola da verificare  */
/* Regola poco chiara */
main {
  overflow-y: auto;
}

/*#endregion */