/* Nessun errore rilevato con Validator */

/* CONCLUSA */
/*#region Generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.Wrapper {
  height: var(--Wrapper_H_set);
  background-color: coral;
}
/*#endregion */

/* CONCLUSA */
/*#region Palette colori blocchi */
:root {
  --MainColor: rgba(20, 25, 34, 1);
  --SidebarColor: rgba(0, 0, 0, 1);
  --HeaderColor: rgba(8, 11, 18, 1);
  --FooterColor: rgba(40, 40, 40, 1);
}
/*#endregion */

/* CONCLUSA */
/*#region dimensioni */

/* Dimensioni principali del corpo */
:root {
  --Wrapper_MW_set: 100vw;
  --Wrapper_H_set: calc(100vh - 80px);
  --Aside_MW_set: 250px;
  --Aside_H_Set: 100%;
  --Main_MW_set: calc(100% - 250px);
  --Main_H_Set: calc(100vh - 80px);
  --Header_MW_set: 100%;
  --Cards_MW_set: 100%;
  --Cards_H_set: calc(100vh - 80px);
  --Header_H_set: 80px;
  --Footer_MW_set: 100vw;
  --Footer_H_set: 80px;
}
/* Dimensioni dei container */
:root {
  --Logo_MW_set: 100%;
  --Logo_H_set: 80px;
  --Navbar_MW_set: 65%;
  --Navbar_H_set: 50px;
  --Item_MW_set: 300px;
  --Item_H_set: 100%;
}
/*#endregion */

/* CONCLUSA */
/*#region Container principali  */

/* Container dell'Aside */
aside {
  width: var(--Aside_MW_set);
  height: var(--Aside_H_Set);
  background-color: var(--SidebarColor);
}

.logo {
  background-color: rgba(0, 0, 0, 1);
  width: var(--Logo_MW_set);
  height: var(--Logo_H_set);
}

.logo_img {
  max-width: 55%;
  width: auto;
  height: 100%;
}

/* Container del main */
main {
  background-color: var(--MainColor);
  width: var(--Main_MW_set);
  height: var(--Main_H_Set);
}

footer {
  width: var(--Footer_MW_set);
  height: var(--Footer_H_set);
  background-color: var(--FooterColor);
}

/* Container Scrollabile */
.content {
  width: 95%;
  height: max-content;
  background-color: var(--MainColor);
  overflow-y: auto;
}
/* Titolo di ogni sezione Album */
.content_title {
  width: 50%;
  height: 75px;
}

/* Contenuto */
.content_cards {
  width: 100%;
}

/* Contenuto al 50% */
.content_cards_sm {
  width: 100%;
  height: 400px;
}

/* Main principale delle cards */
.Cards {
  width: var(--Cards_MW_set);
  height: max-content;
  background-color: var(--MainColor);
}

/* Container della Singola Carta */
.album {
  width: calc(100% / 6);
  height: calc(100% / 2);
  text-align: center;
}

/* Album per seconda colonna */
.album_sm,
.album_sm_circle {
  width: calc(100% / 6);
  height: 100%;
  text-align: center;
}

/* Album per terza colonna */
.album_sm_circle img {
  border-radius: 50%;
}

/* Card */
.Photo {
  position: relative;
  width: 95%;
  height: 75%;
}
/* Immagine nella card */
.Photo img {
  transition: 15ms linear;
  width: 100%;
}
/* Tasto Play */
.abs i {
  font-size: 60px;
  color: transparent;
  transition: 10ms linear;
}

/* Cont del footer */
.status {
  width: 700px;
  flex-wrap: wrap;
}
.track {
  width: var(--Aside_MW_set);
  height: var(--Footer_H_set);
}
.enter {
  width: 280px;
  height: var(--Footer_H_set);
}

/*#endregion*/

/* CONCLUSA */
/*#region Header */
/* Container dell'header */
header {
  width: var(--Header_MW_set);
  height: var(--Header_H_set);
  background-color: var(--HeaderColor);
}

header a {
  padding: 10px 25px 10px 25px;
  border: 0.3px solid white;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
}
/*#endregion*/

/* CONCLUSA */
/*#region sidebar */
.main_sidebar {
  height: var(--Main_Side_H_set);
}
/* Container sotto al logo */
.home {
  height: 25%;
}
/* Container per la playlist */
.play {
  height: 75%;
}

.account {
  height: 75px;
  position: absolute;
  bottom: 0%;
}

.divider {
  width: 85%;
}

/* Container per installazione app */
.upper {
  width: 100%;
  height: 40%;
}
/* Container Accesso */
.under {
  width: 100%;
  height: 60%;
}

.play_title,
.new_play,
.names_play {
  width: 100%;
}
.play_title {
  height: 10%;
}
.new_play {
  height: 20%;
}
.names_play {
  height: 70%;
}
.new_play i,
.new_play span {
  color: rgba(134, 134, 134, 1);
}
.new_play i {
  font-size: 2.75rem;
}
.new_play span {
  font-weight: bold;
}

.main_sidebar {
  width: var(--Main_Side_MW_set);
}
/*#endregion*/

/* CONCLUSA */
/*#region Main content */

.navbar {
  width: var(--Navbar_MW_set);
  height: var(--Navbar_H_set);
}

/*#endregion*/

/* CONCLUSA */
/*#region Footer */

/*#region Track - a Sinistra del Footer */
.track_img,
.track_name,
.track_icons {
  height: 100%;
}

.track_img {
  padding: 0px 5px 0px 5px;
  width: 35%;
}

.track_img img {
  max-width: 100%;
  width: auto;
  height: 70%;
}

.track_name {
  width: 35%;
}

.track_name h4 {
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
}

.track_name span {
  color: rgba(134, 134, 134, 1);
  font-size: 0.6rem;
}

.track_icons {
  gap: 0.35rem;
  width: 30%;
}

.track_icons a {
  padding: 0px 5px 0px 0px;
}

/*#endregion */

/*#region del Media Player */

/* Player e sue icone */
.player {
  width: 45%;
  height: 50%;
  gap: 1.25rem;
}
.player a {
  font-size: 1.15rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.slider {
  width: 100%;
  height: 50%;
}
.t_left .minute .t_right {
  max-height: 100%;
}
.t_left,
.t_right {
  width: 15%;
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
}

.minute {
  width: 60%;
}
.minute input {
  width: 100%;
  cursor: all-scroll;
}

/*#endregion */

/*#region Sezione entertainmente */

.enter_icons,
.enter_vol {
  width: 150px;
  height: 100%;
}

.enter_vol input {
  width: 90%;
  cursor: all-scroll;
}
/*#endregion*/

/*#endregion Footer */

/* CONCLUSA */
/*#region HOVER sui contenuti  */

/* Sidebar Laterale */
.home a {
  background-color: transparent;
  transition: 4ms linear;
}
.home a:hover {
  color: white;
  border-left: 3px solid limegreen;
}

/* Navbar del Main */
.navbar ul:first-of-type :hover {
  background-color: transparent;
  transition: 15ms linear;
}
.navbar ul:first-of-type :hover {
  color: white;
  border-bottom: 3px solid limegreen;
}
/* Hover delle foto Album */
.Photo:hover img {
  filter: brightness(50%);
}

.abs i:hover {
  color: white;
}

/* Playlist della Sidebar */
.names_play a {
  background-color: transparent;
  transition: 3ms linear;
}
.names_play a:hover {
  color: white;
}
.new_play i:hover,
.new_play span:hover {
  color: white;
}
.upper i:hover,
.upper a:hover {
  color: white;
}
/* Header */
header a:hover {
  transform: scale(1.05);
}

/* Footer */
/* Icone di SX */
.track_name span:hover {
  text-decoration: underline;
}
.track_icons a:hover {
  color: white;
}
/* Icone a DX */
.enter_icons a:hover {
  transform: scale(1.25);
}
/* Player con barra regolazione minuti */
.player a:hover {
  transform: scale(1.25);
}
/*#endregion*/

/* CONCLUSA */
/*#region Media Queries 1200px to 1920px - Lg  */

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  /* Media per l'header e il call to action */
  header a {
    transform: scale(0.85);
  }
  /* Header */
  header a:hover {
    transform: scale(0.9);
  }
  /* Navbar */
  .navbar {
    width: max-content;
    font-weight: 700;
    flex-wrap: nowrap;
    transform: scale(0.8);
  }

  /*#region Aside  */
  aside {
    width: 210px;
  }
  .home,
  .play {
    padding-left: 15px;
    font-size: 0.7rem;
  }
  .logo_img {
    max-width: 75%;
    width: auto;
    height: 100%;
  }
  .home a,
  .play a,
  .play h4 {
    padding-left: 0px;
    text-transform: none;
  }
  .play h4 {
    margin-bottom: 5px;
  }
  .content_title {
    width: 50%;
    height: 60px;
  }
  .divider {
    width: 75%;
    margin-left: 10px;
  }
  /*#endregion */

  /*#region Main content */
  main {
    width: calc(100% - 210px);
  }
  main h4 {
    font-size: 0.9rem;
  }
  .content_cards {
    width: 100%;
    height: max-content;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .content_cards_sm {
    height: max-content;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .album {
    width: calc(100% / 6);
    height: calc(100% / 4);
    text-align: center;
  }
  .album_sm_circle,
  .album_sm {
    width: calc(100% / 6);
    height: calc(100% / 2.5);
    text-align: center;
  }
  .album h4,
  .album_sm h4,
  .album_sm_circle h4 {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
  }
  .Photo {
    width: 95%;
    height: 75%;
  }
  .Photo img {
    max-width: auto;
    width: 100%;
    height: 100%;
  }
  .content_title {
    width: 50%;
    height: 60px;
    margin-bottom: 15px;
  }
  /*#endregion */

  /*#region Footer */
  .track {
    width: var(--Aside_MQ_set);
  }

  .status {
    width: 500px;
  }

  .enter {
    width: 200px;
  }

  .enter_icons a {
    font-size: 0.9rem;
  }

  .t_left,
  .t_right {
    width: 7%;
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
  }

  /*#endregion */
}
/*#endregion */

/* CONCLUSA */
/*#region Media Queries LG - 990px to 1199px */

@media screen and (min-width: 990px) and (max-width: 1199px) {
  /* Media per l'header e il call to action */
  header a {
    transform: scale(0.8);
  }
  /* Header */
  header a:hover {
    transform: scale(0.85);
  }

  /* Media per la navbar superiore */
  :root {
    --Navbar_MQ_set: 100%;
    --Wrapper_MQ_set: calc(100% - 200px);
  }
  .navbar {
    font-weight: 700;
    flex-wrap: nowrap;
    width: var(--Navbar_MQ_set);
    transform: scale(0.75);
    margin-bottom: 0px;
  }

  /*#region Sidebar */

  /* Sidebar */
  aside {
    width: var(--Aside_MQ_set);
  }
  :root {
    --Aside_MQ_set: 160px;
  }
  .home,
  .play {
    padding-left: 15px;
    font-size: 0.7rem;
  }
  .logo_img {
    max-width: 75%;
    width: auto;
    height: 100%;
  }
  .home a,
  .play a,
  .play h4 {
    padding-left: 0px;
    text-transform: none;
  }
  .play h4 {
    margin-bottom: 5px;
  }
  .content_title {
    width: 50%;
    height: 60px;
    margin-bottom: 20px;
  }
  .divider {
    width: 75%;
    margin-left: 10px;
  }
  /*#endregion*/

  /*#region Main */
  /* Main */
  main {
    width: calc(100% - 160px);
  }
  main h4 {
    font-size: 0.9rem;
  }

  .content_cards {
    width: 100%;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .content_cards_sm {
    height: 0%;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  .album h4,
  .album_sm h4,
  .album_sm_circle h4 {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
  }

  .Photo {
    width: 95%;
    height: 75%;
  }

  .Photo img {
    width: 100%;
    height: 100%;
  }

  .album {
    width: calc(100% / 4);
    height: calc(100% / 5);
    text-align: center;
  }

  .album_sm {
    width: calc(100% / 4);
    height: calc(100% / 2.5);
    text-align: center;
  }

  .album_sm_circle {
    width: calc(100% / 4);
    height: calc(100% / 2.5);
    text-align: center;
  }
  /*#endregion */

  /*#region Footer */
  .track {
    width: 200px;
  }

  .status {
    width: 500px;
  }

  .enter {
    width: 200px;
  }

  .enter_icons a {
    font-size: 0.9rem;
  }

  .t_left,
  .t_right {
    width: 7%;
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
  }
/*#endregion */

}
/*#endregion */

/* CONCLUSA */
/*#region Media Queries MD - 768 to 989px */

@media screen and (min-width: 768px) and (max-width: 989px) {
  /* Media per l'header e il call to action */
 
  header a {
    transform: scale(0.7);
    margin-left: 25px;
  }
  /* Header */
  header a:hover {
    transform: scale(0.75);
  }

  /* Media per la navbar superiore */
  :root {
    --Wrapper_MQ_set: calc(100% - 200px);
  }
  .navbar {
    font-weight: 700;
    flex-wrap: nowrap;
    width: max-content;
    transform: scale(0.75);
    margin-bottom: 0px;
  }

  /*#region Sidebar */

  /* Sidebar */
  aside {
    width: var(--Aside_MQ_set);
  }
  :root {
    --Aside_MQ_set: 140px;
  }
  .home,
  .play {
    padding-left: 15px;
    font-size: 0.7rem;
  }
  .logo_img {
    max-width: 75%;
    width: auto;
    height: 100%;
  }
  .home a,
  .play a,
  .play h4 {
    padding-left: 0px;
    text-transform: none;
  }
  .play h4 {
    margin-bottom: 5px;
  }
  .content_title {
    width: 50%;
    height: 60px;
    margin-bottom: 20px;
  }
  .divider {
    width: 75%;
    margin-left: 20px;
  }
  /*#endregion*/

  /*#region Main */
  /* Main */
  main {
    width: calc(100% - 140px);
  }
  main h4 {
    font-size: 0.9rem;
  }
  .content_cards {
    width: 100%;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .content_cards_sm {
    height: 0%;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  .album h4,
  .album_sm h4,
  .album_sm_circle h4 {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
  }

  .Photo {
    width: 95%;
    height: 75%;
  }

  .Photo img {
    width: 100%;
    height: 100%;
  }

  .album {
    width: calc(100% / 3);
    height: calc(100% / 5);
    text-align: center;
  }

  .album_sm {
    width: calc(100% / 3);
    height: calc(100% / 2.5);
    text-align: center;
  }

  .album_sm_circle {
    width: calc(100% / 3);
    height: calc(100% / 2.5);
    text-align: center;
  }
  /*#endregion */

  /*#region Footer */
  .track {
    width: 250px;
  }
  .status {
    width: 500px;
  }
  .enter {
    width: 200px;
  }
  .enter_icons a {
    font-size: 0.9rem;
  }
  .t_left {
    margin-right: 10px;
  }
  .t_right {
    margin-left: 10px;
  }
  .t_left,
  .t_right {
    width: 7%;
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
  }
/*#endregion */

}
/*#endregion */


/*#endregion  */
