/* CONCLUSA */
/*#region Generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--BodyColor_try);
  font-family: "Montserrat", sans-serif;
  /* Per centrare container principale con Griglia */
  width: var(--Body_MW_set);
  height: var(--Body_H_set);
}

/*#endregion */

/* CONCLUSA */
/*#region Palette colori blocchi */
:root {
  --BodyColor_try: transparent;
  --MainColor_try: rgb(128, 51, 0);
  --HeaderColor_try: Yellow;
  --FooterColor_try: lime;
}

/* Colori container di prova */
:root {
  --Colonne_Float: lime;
  --Colonne_Flex: Yellow;
  --Colonne_Grid: (255, 115, 0);
}

/*#endregion */

/* CONCLUSA */
/*#region dimensioni */

/* Dimensioni principali del corpo */
:root {
  --Body_MW_set: 100vw;
  --Body_H_set: 100vh;
  --Header_MW_set: 100%;
  --Header_H_set: 80px;
  --Content_MW_set: 100%;
  --Content_H_set: calc(100% - 160px);
  --Sidebar_MW_set: 200px;
  --Sidebar_H_set: calc(100vh - 160px);
  --Main_MW_set: calc(100% - 200px);
  --Main_H_set: 100%;
  --Footer_MW_set: 100%;
  --Footer_H_set: 80px;
}

#site_header {
  background-color: aqua;
  width: var(--Header_MW_set);
  height: var(--Header_H_set);
}

#site_content {
  background-color: purple;
  width: var(--Content_MW_set);
  height: var(--Content_H_set);
}

#site_sidebar {
  position: relative;
  background-color: red;
  width: var(--Sidebar_MW_set);
  height: var(--Sidebar_H_set);
}

#site_main {
  background-color: blue;
  width: var(--Main_MW_set);
  height: var(--Main_H_set);
}

#site_footer {
  background-color: orange;
  width: var(--Footer_MW_set);
  height: var(--Footer_H_set);
}

/* Dimensioni dei container */
:root {
  --Logo_MW_set: 200px;
  --Logo_H_set: 80px;
  --Navbar_MW_set: 65%;
  --Navbar_H_set: 50px;
  --Container_cards : 95%;
  --Container_H_set : 900px;
  --Cards_MW_set: 100%;
  --Cards_H_set: 300px;
  --Main_Side_MW_set: 100%;
  --Main_Side_H_set: 400px;
  --Item_MW_set: 300px;
  --Item_H_set: 100%;
}

/*#endregion*/

/*#region Header */

.logo {
  background-color: lightgray;
  width: var(--Logo_MW_set);
  height: var(--Logo_H_set);
}

.call_to_action {
  background-color: lightgray;
  width: var(--Logo_MW_set);
  height: var(--Logo_H_set);
}

/*#endregion*/

/*#region sidebar */

.main_sidebar {
  height: var(--Main_Side_H_set);
}

.play {
  height: 60%;
}

.home {
  height: 40%;
}

.account {
  height: 75px;
}

.main_sidebar{
  width: var(--Main_Side_MW_set);
}

/*#endregion*/

/*#region Main content */

.navbar {
  background-color: lime;
  width: var(--Navbar_MW_set);
  height: var(--Navbar_H_set);
}

.container_cards {
    width: var(--Container_cards);
    height: var(--Container_H_set);
    background-color: darkgoldenrod;
}

.cards {
  background-color: blueviolet;
  width: var(--Cards_MW_set);
  height: var(--Cards_H_set);
}

.cards_2 {
  background-color: blueviolet;
  width: max-content;
  height: var(--Cards_H_set);
}

.cards_title {
  width: 100%;
  background-color: bisque;
  height: 20%;
}

.cards_items {
  width: 100%;
  height: 80%;
  background-color: burlywood;
}

.item {
  width: var(--Item_MW_set);
  height: var(--Item_H_set);
  background-color: brown;
}
/*#endregion*/

/*#region Footer */

.track {
    width: var(--Logo_MW_set);
}

.status {
    width: 600px;
}

.enter {
    width: var(--Logo_MW_set);
}


/*#endregion Footer */

